<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="myscript1.js"></script>
    <title>My Angular App</title>
</head>

<body>
    <!--
    <div ng-app="firstApp" ng-controller="firstctrl">
        <input type="text" ng-model="test">
        <li ng-repeat="x in colors | filter:test">
            {{ x }}
        </li>
    </div> -->

    <div ng-app="" ng-init="stud={name:'Onkar',roll:37}">
        Name :{{stud.name}}
    </div>
</body>

</html>